*.iml
*.apk
/local.properties
.idea/
.gradle/
gradle/
.DS_Store
build/
/captures
.externalNativeBuild
google-services.json
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
.cxx
local.properties
.getignore
